# SPDX-FileCopyrightText: 2026 Vitor Mattos <1079143+vitormattos@users.noreply.github.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

.git
.github
.env
.venv
__pycache__
.pytest_cache
.ruff_cache
dist
secrets
docker-compose.override.yml
